:root {
  --main-title-color: #fff;
  --second-title-color: #ffffff;
  --main-text-color: #757575;
  --accent-color: #D41443;
  --first-contacts-color: #757575;
  --second-contacts-color: rgba(255, 255, 255, 0.6);
  --third-contacts-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  background-color: #FFB8CA;
  font-family: DM Sans, sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.mobile__button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #fff;
  color: var(--accent-color);
  min-width: 209px;
  min-height: 44px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 22px;
  border: transparent;
  transition: background-color 250ms var(--timing-function);
}

.mobile__button:hover, .mobile__button:focus {
  background-color: #ECEBEB;
}

.header__container {
  align-items: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .header__container {
    justify-content: flex-start;
    padding: 0;
  }
}

.navigation.mobile__button {
  text-align: center;
}

.nav__link {
  position: relative;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-title-color);
  transition: color 250ms var(--timing-function);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link:hover::after, .nav__link:focus::after {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
  .nav__link.nav__link--current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    background-color: var(--accent-color);
  }
  .nav__link.nav__link--current {
    color: var(--accent-color);
    position: relative;
  }
}

.nav__item:not(:last-child) {
  border-bottom: 1px solid #E18298;
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    flex-direction: column;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .mobile__menu {
    z-index: 1;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background: #ffffff;
    transform: translateX(100%);
    transition: transform 250ms var(--timing-function);
  }
}

.mobile__menu.is-open {
  transform: translateX(0);
  background-color: #E17992;
}

.button__open,
.button__close {
  position: absolute;
  top: 10px;
  right: 15px;
  fill: var(--accent-color);
  background-color: transparent;
  border: none;
}

.button__open:hover, .button__open:focus, .button__open:active,
.button__close:hover,
.button__close:focus,
.button__close:active {
  fill: var(--main-title-color);
}
/*# sourceMappingURL=main.css.map */