:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --first-contacts-color: #757575;
  --second-contacts-color: rgba(255, 255, 255, 0.6);
  --third-contacts-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
